html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.container {
  position: relative;

  width: 100%;
  height: 100vh;


  display: flex;
  justify-content: center;
  align-items: center;
}

#display {
  font-size: 128px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  user-select: none;
}

@media screen and (max-width: 480px) {
  #display {
    font-size: 64px;
    writing-mode: vertical-lr;
  }
}